body {
    font-family: Arial, sans-serif;
    background-color: rgb(167, 246, 221);
    color: black;
    padding: 20px;
    margin: 0;
}
h1 {
    text-align: center;
    color: black;
}
label {
    font-size: 18px;
}
select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
